/* Reset dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  background-color: #f2f2f2;
}

/* Header */
header {
  background: #333;
  color: white;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  margin-right: 20px;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: orange;
}

/* Jumbotron */
.jumbotron {
  background-color: #007bff;
  color: white;
  padding: 60px 20px;
  text-align: center;
}

/* Info */
.info, .galeri {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
  background-color: white;
  margin-bottom: 20px;
}

.info h2, .galeri h2 {
  margin-bottom: 10px;
  color: #333;
}

/* Galeri */
.gambar {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.gambar img {
  width: 200px;
  border-radius: 5px;
}

/* Footer */
footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 20px;
}
